@import "src/style/_functions.scss";
@import "src/style/_variables.scss";

.icon{
    padding-left:8vw;
    padding-top: 7vw;

    .skillArrayTitle{
        @include IconTitle;
        margin-top: 5vw;
    }

    .grid{
        padding-top: 4vw;
        padding:6vw;
        display: grid;
        gap: 20px;
        grid-template-columns: repeat(auto-fit, minmax(100px, auto));
    }
}


