@import "src/style/_functions.scss";
@import "src/style/_variables.scss";

.skills {
  margin-top: 100px;
  scroll-behavior: smooth;
  height: 100vh;

  .skills-icon-font {
    display: flex;

    .skills-font {
      @include fontSize;
      color: $redColor;
      writing-mode: vertical-lr;
      margin-left: 30px;
    }
  }
}
