@import "src/style/_functions.scss";
@import "src/style/_variables.scss";

.productContainer {
  display: grid;
  gap: 10vw;
  padding-left: 5vw;
  padding: 0 4vw;

  @media screen and (max-width: 1024px) {
    grid-template-columns: repeat(2, minmax(50px, 50%));
  }
  @media screen and (min-width: 1024px) {
    grid-template-columns: repeat(2, minmax(50px, 20%));
  }

  .name {
    font-size: 20px;
  }
  .product {
    background-color: gray;
    padding: 5vw;
    .description {
      font-size: 2vw;
    }
    .image {
      padding-top: 5%;
      width: 100px;
      height: 80%;
      object-fit: cover;
    }
  }
}
