@import "src/style/_functions.scss";
@import "src/style/_variables.scss";

.imgStyle {
  @media screen and (max-width: 1023px) {
    
    width: 100%;
    max-width: 300px;
  }

  @media screen and (min-width: 1024px) {
    margin-top: 3em;
    max-width: 400px;
  }

  border-radius: 10px;
  object-fit: cover;
  margin:0 auto;
}
.profile{
   @include IconTitle;
   color: $redColor;
   padding: 0em 2em;
}