@import "src/style/_functions.scss";
@import "src/style/_variables.scss";

.about-name {
  margin-top: 200px;
  width: 2000px;
  margin-right: 30px;
  color: $portfolioColor;
  p {
    @include subTitleFontSize;
  }
  .sentence-content {
    display: flex;
    align-items: flex-end;
    border-bottom: solid;

    .university-name {
      display: flex;
      @media screen and (max-width: 1024px) {
        font-size: 10px;
      }
      @media screen and (min-width: 1024px) {
        font-size: 50px;
      }

      .university-age {
        margin-left: 20px;
      }
    }
  }
}
