@import "src/style/_functions.scss";
@import "src/style/_variables.scss";

.about {
  scroll-behavior: smooth;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap; // モバイル対応
  padding: 4em 3em 0em;
  gap: 5vw;
}
