@import "src/style/_functions.scss";
@import "src/style/_variables.scss";

.icon {
  padding: 7vw 10vw;
  
.category{
  padding-bottom:3em
}
  .skillArrayTitle {
    @include IconTitle;
    color: $portfolioColor;
  }

  .grid {
  padding: 2vw 0;
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(auto-fit, minmax(100px, auto));
  justify-items: center;

  .iconItem {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .iconWrapper {
    display: flex;
    align-items: flex-end; // アイコンの下端をそろえる
    justify-content: center;
    height: 3em; // ここで高さを調整して、中央あたりに合わせる
    margin-bottom: 0.5em;

    svg {
      width: 2em;
      height: 2em;
    }
  }

  .name {
    text-align: center;
    color: $portfolioColor;
  }
}

}
