@import "src/style/_functions.scss";
@import "src/style/_variables.scss";

/* styles/global.scss */
* {
  //ページ内のすべての要素
  margin: 0;
  padding: 0;
}

body {
  background-color: $mainColor;
  color: black;
  width: 100%;
  height: 100vh;
  overflow: auto; /* スクロールを有効にする */
}

// main {
//   background-color: $mainColor;
//   @include flexCenter;
// }
